body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  margin: 0;
}

#timeline {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #1a1a1a;
}

@media (min-width: 1024px) {
  #timeline {
    flex-direction: row;
  }
}

/* #timeline:hover .tl-item {
  width: 23.3333%;
} */

.tl-item {
  flex: 1;
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 100%;
  height: 25vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}

@media (min-width: 1024px) {
  .tl-item {
    flex-direction: row;
    /* width: 25%; */
    height: 100vh;
  }
}

.tl-item:before,
.tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tl-item:after {
  /* background: #f591b7; */
  background: linear-gradient(to bottom, #f591b7 0%, rgb(0, 0, 0, 0) 100%);
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1a1a1a 100%);
  z-index: 1;
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(25%);

  transition: opacity 0.5s ease, transform 0.5s ease;
}


@media (min-width: 1024px) {
  .tl-item:hover {
    width: 100% !important;
  }
}

@media (min-width: 1024px) {
  .tl-item:after {
    opacity: 0.85;
    background: #f591b7;
  }

  .tl-item:hover:after {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .tl-item:before {
    opacity: 0;
    transform: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1a1a1a 60%);
  }

  .tl-item:hover:before {
    opacity: 1;
    transition: opacity 1s ease, transform 1s ease 0.25s;
  }
}

@media (min-width: 1024px) {
  .tl-item .tl-content {
    opacity: 0;
    top: 55%;
    margin: 0 1.618em;
    transition: none;
  }

  .tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
  }
}



.tl-content {
  transition: all 0.75s ease 0.5s;
  position: absolute;
  z-index: 1;
  text-align: center;
  margin: 0 10%;
  top: 35%;
  opacity: 1;
}

.tl-content h1 {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.44rem;
  font-weight: normal;
  transition: all 1s ease 0s;
}

.tl-year {
  display: flex;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 1s ease 0s;
}

.logo-container {
  border-top: none;
  border-bottom: none;
}

@media (min-width: 1024px) {
  .tl-year {
    top: 50%;
  }

  .tl-item:hover .tl-year {
    top: 45%;
    left: 50%;
  }
}

.tl-year p {
  /* font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 1.728rem;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

.header {
  width: 100vw;
  z-index: 1;
  background-color: white;
}

@media (min-width: 1024px) {
  .header {
    padding: 2rem;
    position: absolute;
    background-color: none;
  }
}

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  
  object-fit: cover;
  width: 40%;
  height: 100px;
  margin: 0;
}

a:link    { color: white; text-decoration: underline; }
a:visited { color: white; text-decoration: underline; }
a:hover   { color: white; text-decoration: underline; }
a:active  { color: white; text-decoration: underline; }
.special-link, .special-link:visited, .special-link:hover, .special-link:active {
  color: inherit;
}