body {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
}

#timeline {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #1a1a1a;
}

@media (min-width: 1024px) {
  #timeline {
    flex-direction: row;
  }
}

.tl-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: 25vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  text-align: center;
}

@media (min-width: 1024px) {
  .tl-item {
    height: 100vh;
  }

  .tl-item:hover {
    width: 100% !important;
  }
}

.tl-item:before {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(245, 145, 183, 0.95) 0%, rgba(26, 26, 26, 0.65) 100%);
  z-index: -1;
}

@media (min-width: 1024px) {
  .tl-item:before {
    background: #f591b7;
    opacity: 0.75;
  }

  .tl-item:hover:before {
    opacity: 1;
    background: #1a1a1a;
    opacity: 0.75;
    transition: opacity 1s ease, transform 1s ease 0.25s;
  }
}

.tl-content {
  transition: all 0.75s ease 0.5s;
  margin: 0 10%;
  opacity: 1;
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
  transition: all 1s ease 0s;
}

@media (min-width: 1024px) {
  .tl-content {
    opacity: 0;
    /* width: 80%; */
    margin: 0px;
    top: 55%;
    transition: none;
    position: absolute;
    transform: translate3d(0, 0, 0) translateY(25%);
    z-index: 1;
  }

  .tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
  }
}

.tl-content-subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .tl-content-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.tl-content-description {
  font-size: 1.7rem;
}

@media (min-width: 1024px) {
  .tl-content-description {
    font-size: 1rem;
  }
}

.tl-year {
  display: flex;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 1s ease 0s;
  font-size: 4rem;
  margin: 4rem;
}

@media (min-width: 1024px) {
  .tl-year {
    font-size: 1.5rem;
    margin: 1rem;
    transform: translateX(0%) translateY(40%);
    text-align: center;
    margin: 3rem;
  }

  .tl-item:hover .tl-year {
    transform: translateX(0%) translateY(-30%);
  }
}

.logo-container {
  border-top: none;
  border-bottom: none;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
  z-index: -2;
}

.header {
  width: 100vw;
  background-color: white;
}

@media (min-width: 1024px) {
  .header {
    padding: 2rem 0;
    position: absolute;
    z-index: 1;
  }
}

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.logo {
  object-fit: cover;
  width: 40%;
  height: 100px;
  margin: 0;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

.special-link,
.special-link:visited,
.special-link:hover,
.special-link:active {
  color: inherit;
}

@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}